<div class="modal-header">
  <h4 class="modal-title">Purchase Order</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="table-responsive" id="pdfTable" #pdfTable>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Product</th>
          <th scope="col">Rate</th>
          <th scope="col">Cost</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.companyName}}</td>
          <td>{{data.productName}}</td>
          <td>{{data.rate}}</td>
          <td>{{data.cost}}</td>
          <td>{{data.totalCost}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary mr-2" (click)="downloadAsPDF()">Export To PDF</button>
  <button class="btn btn-success" redirec (click)="closeModal()">
    Submit
  </button>
</div>
